.container {
  width: 90%;
  max-width: 2040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

div.drink-header {
  display: flex;
  justify-content: center; 
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px auto;
  max-width: 1200px;
  gap: 10px;
}

div.card{
  max-width: 100%;
  width: 355px;
}

div.card-body {
  flex-wrap: nowrap;
  justify-content: space-evenly;
}