.container {
  width: 90%;
  max-width: 2040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

div.drink-header {
  display: flex;
  justify-content: center; 
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1200px;
  margin: 10px;
  gap: 10px;
}