code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #07020D;
  --accent: red;
  --background:--black;
  --secondary: red;
  --secondary-dark: red;
}

a {
  color: var(--accent);
  padding: 1vmin;
  border-radius: 1vmin;
  text-decoration: none !important;
}

a:hover {
  color: var(--black);
  background-color: var(--accent);
}

a.active {
  color: var(--background);
  background-color: var(--black);
  cursor: default;
}

nav > a {
  margin-left: 15px;
}

.m-left {
  margin-left: 10px;
}

body {
  background: #000;
}

label {
  color: red;
}

h1{
  color: red;
  text-align: center;
}

h5 {
  color: red;
  text-align: center;
}

h2 {
  text-align: center;
  color: red;
}

h4 {
  color: red;
}